In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

Tutorial 2: Implement Linear regression and Logistic regression

In [2]:
computers = pd.read_csv('computers.csv')

In [3]:
computers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Units    14 non-null     int64
 1   Minutes  14 non-null     int64
dtypes: int64(2)
memory usage: 356.0 bytes

In [4]:
computers

    Units  Minutes
0       1       23
1       2       29
2       3       49
3       4       64
4       4       74
5       5       87
6       6       96
7       6       97
8       7      109
9       8      119
10      9      149
11      9      145
12     10      154
13     10      166